.footer {
  padding: 5rem 10rem;
  background: $dark-bg;
  color: $white;
  font-size: 1.4rem;

  &__nav {
    ul {
      margin-top: 1rem;

      li {
        list-style: none;
        display: block;

        &:not(:last-child) { margin-bottom: 1rem; }
        
        a { 
          display: block;
          color: $light-grey; 
          transition: .3s ease-out;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
  
  &__map {
    background: url($map);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 35rem;
  }
  
  &__contact-us {
    p {
      margin-top: 1rem;
      color: $light-grey;
      font-size: 1.5rem;
      line-height: 2.4rem;
    }

    form {
      margin-top: 2rem;
      margin-bottom: 2rem;
      min-width: 25rem;

      input {
        padding: 14px 10px;
        width: 70%;
        border: none;
        float: left;
      }

      .submit-btn {
        width: 30%;
        height: 4.1rem;
        background: $orange;
        float: left;
        color: $white;
        font-size: 1.3rem;
        text-align: center;
        line-height: 4.1rem;
      }

      .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: solid $dark-bg .1rem;

        strong.contact {
          margin-top: 2rem; 
          color: $light-grey;
          font-weight: 400;
          font-size: 1.3vw;

          &:last-child {
            text-align: right;
          }
        }
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}
  