.main-header {
  &__navigation {
    display: grid;
    grid-column: span 8;
    justify-content: right;
    padding-top: .5rem;

    ul {
      list-style: none;

      li {
        display: inline-block;

        &:not(:last-child) { margin-right: 3.5rem; }

        a {
          color: $white;
          font-size: 1.7rem;
        }
      }
    }
  }
}