.subpage-navigation {
  background: rgba($oh-blue, .9);
  clip-path: polygon(0 0, 100% 0, 150% 120%, 70% 80%, 0 100%);
  height: 8rem;
  padding-top: 2rem;

  .row { display: grid; }

  .main-header__logo {
    height: 2.8rem;
  }
}