div.process-main-container {
  display: grid;

  .process-graphic-container {
    .process-graphic {
      @include medium_svg($process-graph, 32rem, 34rem);
      background-size: 32rem;
    }
  }

  .agile-graphic-container {
    .agile-graphic {
      @include medium_svg($agile-xp, 270px, 320px);
      background-size: 27rem;
    }
  }

  [class^="puzzle-pieces-graphic"] {
    background-size: 17rem !important;
  }

  .puzzle-pieces-graphic-tdd { @include medium_svg($puzzle-piece-tdd, 170px, 200px); }

  .puzzle-pieces-graphic-pp { @include medium_svg($puzzle-piece-pp, 170px, 200px); }

  .puzzle-pieces-graphic-pr { @include medium_svg($puzzle-piece-pr, 170px, 200px); }

  .puzzle-pieces-graphic-ci { @include medium_svg($puzzle-piece-ci, 170px, 200px); }
}