.services-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr) !important;

  .services-ico {
    &::after {
      font-family: "FontAwesome";
      content: '\f085';
      font-size: 230px;
      color: #73A9E2;
    }
  }

  .card { 
    box-shadow: 0 2px 20px -2px #cfcfcf;
    border: solid #cfcfcf 1px;
    transition: .6s ease-out;

    &:hover {
      box-shadow: 0px 10px 40px 10px #cfcfcf;
    }

    &:hover > [class^="card__header"]:after {
      opacity: 1;
      transition: 1s ease-out;
    }

    &__header {
      transition: 2s ease-out;
      @include services_box(#e79e45, #e79e45, '\f0eb');
    }

    &__header--blue {
      @include services_box(#79A7EF, #79A7EF, '\f0db');
    }

    &__header--yellow {
      @include services_box(#F2D85C, #F2D85C, '\f247');
    }

    &__header--purple {
      @include services_box(#E8CAF7, #E8CAF7, '\f01e');
    }

    &__header--green {
      @include services_box(#8bc246, #8bc246, '\f201');
    }

    &__header--red {
      @include services_box(#DE5477, #DE5477, '\f044');
    }

    &__body {
      padding: 30px;
    }
  }
}

.dashboard-container {
  .dashboard-ico {
    @include font_awesome_ico('\F0E4', #6D8CDF, 70px);
  }

  .animate-move-up-container {
    background: linear-gradient(rgb(243, 242, 245), rgb(212, 208, 228)); 
    overflow: hidden;

    h2 {
      margin-bottom: 10px;

      span {
        color: $dark-bg;
      }
    }

    .screenshot-container img { width: 80% !important; }
  }

}

.other-services {
  .cms-icon {
    @include font_awesome_ico('\f044', #79A7EF, 200px);
  }

  .business-icon {
    @include font_awesome_ico('\f201', #F2D85C, 200px);
  }
}

.technologies {
  .grid-container {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  img { width: 70%; }
}