.subpage-navigation
  .subpage-navigation__header-container
    .col-lg-3.main-header__logo
      %a.brand{ href: '/' } onehouse
    .col-lg-5.main-header__navigation
      = partial 'navigation_links'