.services-container.grid-container.body-width
  .col-lg-4.col-sm-8
    %h1 Services
    %p Our core focus is web application design and development. We help companies bring products to market and we help them solve business domain problems. We can either function as an outsourced design/development team augment an existing team of designers/developers.
  .col-lg-4.col-sm-8.offset-center
    .services-ico
  .col-lg-8
    %h2 Product and Design Development
  .col-lg-4.col-sm-8.card 
    .card__header
    .card__body
      %h3 Ideation
      %p 
        You have an idea but, but you're not sure if you have a good product market fit. We can help you figure it out. We can work with you to come up with some initial product direction and validation..
  .col-lg-4.col-sm-8.card
    .card__header--blue
    .card__body
      %h3 Design and UX
      %p 
        You already know you have a good market fit for your idea, you just need to figure out how it's going to work and what's it's going to look like. We can help design and flesh out the design and user experience for your idea.
  .col-lg-4.col-sm-8.card
    .card__header--yellow
    .card__body
      %h3 Prototyping
      %p 
        You already have a design in place. We can build it. We can map out an Agile project plan and work on getting your product live.
  .col-lg-4.col-sm-8.card
    .card__header--purple
    .card__body
      %h3 Refinement and/or redo
      %p 
        You have a prototoype already and you feel like the market opportunity is verified, but you're existing prototype isn't up to the challenge. Maybe the code isn't easily maintainable or modifiable and you need help bringing it up to spec. Maybe you feel like you need to rewrite/redesign it. We can help.
%hr
.portfolio-highlight
  .grid-container
    .col-lg-8
      %h2.homepage-port-header
        %strong
          Custom Dashboards
        %span.ligthen-grey-font
          Sometimes you need to display information in a dashboard format to keep a team on the same page or to give customers a quick/easy way to view the value you're providing to them. We can consume data from a variety of data sources and present them in a visually compelling way that quickly presents important information.
    .col-lg-8
      .screenshot-container
        = image_tag 'screenshot_ra_solar_forecasts.jpg', class: 'screenshot-front-image'
        = image_tag 'screenshot_ra_solar_scenario_analysis.jpg', class: 'screenshot-back-image' 
%hr
.other-services
  .grid-container
    .col-lg-4.col-sm-8
      %h2 
        %strong
          Business workflow improvements    
      %p We do a lot of work on back office and process improvment tooling, bringing manual business processes online. Many of these ideas start out as shared spreadsheets or some kind of manual email task workflow. Bringing them online improves access to shared resources, creates a unified environment for establishing and refining an official business processes, and helps speed up communication and efficiency through automation.
    .col-lg-4.col-sm-8
      = image_tag 'screenshot_ra_solar_forecasts.jpg', class: 'custom-cms'
.other-services
  .grid-container
    .col-lg-4.col-sm-8
      %h2 
        %strong
          Custom CMS
      %p WordPress is the reigning king of website content management systems. We highly recommend it for websites, blogs and simple web apps build from a series of off the shelf plugins. But, there comes a point where the amount of custom work becomes onerous to maintain in WordPress. When you reach this point, it can make sense to build a custom CMS using a framework more suitable for custom application development, like Rails. 
    .col-lg-4.col-sm-8
      = image_tag 'screenshot_acadia_admin_feature.jpg', class: 'custom-cms'