.work-container.grid-container
  .col-lg-4.col-md-8
    %h1 Ra Power Management
    %p
      Ra Power has implemented a platform for large solar developers to forecast and manage solar contract funds. The core piece of software responsible for this is the Solar Asset Manager web application. The app allows fund managers to run tranches of contracts through their custom analytics engine, which shows current and future performance to both the developer and their investors.
    %br
    %h3 Services Provided
    .services-provided.grid-container.no-margin
      .col-lg-4.col-md-8
        %p Design and feature ideation
        %p Prototype re-write
      .col-lg-4.col-md-8
        %p AWS cloud provisioning and hosting
        %p Agile project management
  .col-lg-4.col-md-8.screenshot-container
    = image_tag 'screenshot_ra_solar_forecasts.jpg'
  .col-lg-4.col-md-8.screenshot-container
    = image_tag 'screenshot_ygrene_accounting_report.jpg'
  .col-lg-4.col-md-8
    %h1 Ygrene
    %p
      Ygrene Energy provides financing for green energy upgrades to commercial and residential properties. Onehouse worked with them to create the core application for their business, which provided a number of tools that facilitate the application process and helps to manage the funding lifecycle.
    %br
    %h3 Services Provided
    .services-provided.grid-container.no-margin
      .col-lg-4.col-md-8
        %p Ideation and product design
        %p Implemented on-going multi-year agile development process
        %p Custom content management system
      .col-lg-4.col-md-8
        %p Backoffice tooling and process improvement
        %p Multi environment cloud hosting setup and maintenance
  .col-lg-4.col-md-8
    %h1 Ra Power Management
    %p
      Ra Power has implemented a platform for large solar developers to forecast and manage solar contract funds. The core piece of software responsible for this is the Solar Asset Manager web application. The app allows fund managers to run tranches of contracts through their custom analytics engine, which shows current and future performance to both the developer and their investors.
    %br
    %h3 Services Provided
    .services-provided.grid-container.no-margin
      .col-lg-4.col-md-8
        %p Design and feature ideation
        %p Prototype re-write
      .col-lg-4.col-md-8
        %p AWS cloud provisioning and hosting
        %p Agile project management
  .col-lg-4.col-md-8.screenshot-container
    = image_tag 'screenshot_ra_solar_forecasts.jpg'
  .col-lg-4.col-md-8.screenshot-container
    = image_tag 'screenshot_ygrene_accounting_report.jpg'
  .col-lg-4.col-md-8
    %h1 Ygrene
    %p
      Ygrene Energy provides financing for green energy upgrades to commercial and residential properties. Onehouse worked with them to create the core application for their business, which provided a number of tools that facilitate the application process and helps to manage the funding lifecycle.
    %br
    %h3 Services Provided
    .services-provided.grid-container.no-margin
      .col-lg-4.col-md-8
        %p Ideation and product design
        %p Implemented on-going multi-year agile development process
        %p Custom content management system
      .col-lg-4.col-md-8
        %p Backoffice tooling and process improvement
        %p Multi environment cloud hosting setup and maintenance